CONFIG_LEGACY_BOARD_MALTA=y

CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SG=y

CONFIG_AUXDISPLAY=y
CONFIG_IMG_ASCII_LCD=y

CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_CFI=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_PHYSMAP=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_GLUEBI=y

CONFIG_NETDEVICES=y
CONFIG_PCNET32=y

CONFIG_PCI=y
CONFIG_PCI_GT64120=y
CONFIG_PCI_MSC01=y

CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_PIIX4_POWEROFF=y
CONFIG_POWER_RESET_SYSCON=y

CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_CMOS=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y

CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
