CONFIG_LOCKUP_DETECTOR=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_RCU_CPU_STALL_TIMEOUT=90
CONFIG_LOCKUP_DETECTOR_THRESHOLD=90

CONFIG_SCHED_DEBUG=y

CONFIG_DEBUG_ATOMIC_SLEEP=y

CONFIG_MIPS_HARDWARE_TRIGGERS=y

CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF4=y

CONFIG_PERF_EVENTS=y
CONFIG_FTRACE=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_UPROBE_EVENT=y
