# Enable CPS SMP
CONFIG_SMP=y
CONFIG_MIPS_CPS=y
CONFIG_MIPS_MT_SMP=y
CONFIG_NR_CPUS=8

# Tune the scheduler for multi-threading
CONFIG_SCHED_SMT=y

# Enable hotplug for testing
CONFIG_HOTPLUG_CPU=y

# Enable remoteproc & MIPS driver, plus VirtIO Console for demos
CONFIG_REMOTEPROC=y
CONFIG_MIPS_REMOTEPROC=y
CONFIG_VIRTIO_CONSOLE=y
